#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum, tellus ac interdum laoreet, odio ex vehicula tortor, vel efficitur elit lorem eu leo. Nunc vulputate faucibus massa, eget consequat purus accumsan congue. Mauris molestie maximus mollis. Aenean sodales leo at euismod tristique. Nulla et nibh neque. Integer dui purus, accumsan sit amet mi nec, vestibulum blandit turpis. Aenean metus magna, viverra vitae auctor eget, scelerisque a ex. Mauris venenatis ante lacinia rutrum pharetra. Praesent rhoncus eu nisi sit amet scelerisque. Suspendisse potenti. Maecenas faucibus, lacus eget volutpat dictum, ipsum mi pretium ex, quis dictum elit sem vitae massa. Nunc turpis magna, tempor vel varius a, posuere sit amet velit. Nulla consequat lectus at enim interdum viverra. Praesent sed justo velit. Nam lobortis ligula id sapien blandit suscipit at sit amet nulla.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br 
		%button= link_to "Join Now", new_user_registration_path
